macos-option-as-alt = true

keybind = alt+left=unbind
keybind = alt+right=unbind

theme = catppuccin-mocha
font-family = "JetBrains Mono"
font-style = "Medium"
font-style-bold = "Bold"
font-size = 15.0
macos-option-as-alt = true
bold-is-bright = true

keybind = alt+left=unbind
keybind = alt+right=unbind
